.navbar{
    height: auto;
    border-bottom: 4px solid black;
    background-color: white;
}
.green{
    color: #608977;
}
.green:hover {
    color: black !important;
}
.link{
    font-size: 2em;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
    margin: 0 0.75rem;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);;
}
.link:hover {
    color: #608977;
}
.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
  display: inline-block;
}
.nav-item, .nav-link {
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-info {
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
    color: #333;
}

.call-text {
    margin: 0;
    font-size: 1rem;
}

.number {
    font-weight: 700;
    font-size: 1.1rem;
}

.nav-links .nav-link {
    height: 100%;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: color 0.3s ease-in-out;
    margin: 0 0.75rem;
}
    
.collapsed{
  background-color: white;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .navbar {
        background-color: #fad049;
        height: auto;
        padding: 1rem;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .nav-links .nav-link {
        margin: 0.5rem 0;
    }
    .nav-item{
        background-color: #608977;
        border: #333 solid 2px;
        margin-bottom: 10px;
        padding: 0.5rem;
        border-radius: 10px;
    }
    .nav-link{
        color: black;
    }
    .nav-link:hover {
        color: white !important;
        transform: scale(1.05);
    }
    .contact-info {
        flex-direction: column;
         align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .collapsed{
        background-color: #fad049;
        padding: 2rem;
        text-align: center;
        backdrop-filter: blur(10px);
    }
    
}