.reservation-page {
    border-top: 4px solid black;
    font-family: Poppins, sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #608977;
    padding: 2rem 1rem;
    box-sizing: border-box;

    align-items: center;
}
.header{
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 20px;
}
.main-container-service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.form-container {
    flex: 1 ;
    min-width: 30%;
    max-width: 70%;
    margin-left: 5%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-control + .invalid-feedback {
  min-height: 1rem;
  display: block;
  font-size: 0.8rem;
}

.form-control{
   font-size: 1.2em;
   padding: 5px;
   background-color: #E5E5E5;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form-label{
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}
.date-container{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dust-bust{
    font-size: 2em;
    font-weight: 500;

}
.date-picker{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px solid black;
}

.rdp-root {
  --rdp-accent-color: #608977 !important;  
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.submit-button {
    background-color: #FAD049;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0.6rem 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.submit-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.35);
    background-color: #fcd86b;
}

.submit-button:active {
    animation: clickPop 0.2s ease-in-out;
    background-color: #fcd86b !important;

}

.toast{
    background-color: #608977;
    font-size: 1em;
}
@keyframes clickPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}